---
title: "Pixel Perfect Websites | Code Stitch Web Designs | Denver, CO"
description: "Meta description for the page"
preloadImg: "/assets/images/landing.jpg"
permalink: "/"
tags: "sitemap" # Sitemap will use all pages in content/, due to content.json. As index.html is not included in content/ we need to manually add the sitemap tag to this page (only).
eleventyNavigation:
  key: Home
  order: 100
---

{% extends "layouts/base.html" %} {% block head %}
<link rel="stylesheet" href="/assets/css/local.css" />
<link rel="stylesheet" href="/assets/css/critical.css" />

<!-- Script for Netlify Identity -->
<script
  defer
  src="https://identity.netlify.com/v1/netlify-identity-widget.js"
></script>
<script defer>
  if (window.netlifyIdentity) {
    window.netlifyIdentity.on("init", (user) => {
      if (!user) {
        window.netlifyIdentity.on("login", () => {
          document.location.href = "/admin/";
        });
      }
    });
  }
</script>

<!-- JSON Schema Markup -->
<script type="application/ld+json">
  {
      "@context": "http://schema.org",
      "@type": "LocalBusiness",
      "name": "{{ client.name }}",
      {% if preloadImg %}"image": "{{ preloadImg }}",{% endif %}
      {% if client.phoneFormatted %}"telephone": "{{ client.phoneFormatted }}",{% endif %}
      {% if client.email %}"email": "{{ client.email }}",{% endif %}
      {% if client.address %}
          "address": {
              "@type": "PostalAddress"{% if client.address.lineOne %},
                  "streetAddress": "{{ client.address.lineOne }}{% if client.address.lineTwo %}, {{ client.address.lineTwo }}{% endif %}"
              {% endif %}
              {% if client.address.city %},
                  "addressLocality": "{{ client.address.city }}"
              {% endif %}
              {% if client.address.state %},
                  "addressRegion": "{{ client.address.state }}"
              {% endif %}
              {% if client.address.zip %},
                  "postalCode": "{{ client.address.zip }}"
              {% endif %}
              {% if client.address.country %},
                  "addressCountry": "{{ client.address.country }}"
              {% endif %}
          },
      {% endif %}
      {% if client.domain and page.url %}"url": "{{ client.domain }}{{ page.url }}",{% endif %}
      {% if client.socials %}
          "sameAs": [{% for platform, url in client.socials %}
                  {% if not loop.first %},{% endif %}
                  "{{ url }}"
              {% endfor %}]
      {% endif %}
  }
</script>
{% endblock %} {% block body %}
<!-- ============================================ -->
<!--                    Hero                      -->
<!-- ============================================ -->

<section id="hero-2274">
  <div class="cs-container">
    <div class="cs-content">
      <h1 class="cs-title">We're Building For Better Futures</h1>
      <p class="cs-text">
        In our relentless pursuit of progress, we are dedicated to constructing
        a future where innovation, sustainability, and inclusivity converge
        seamlessly.
      </p>
      <a href="" class="cs-button-solid">
        Get Started Today
        <img
          class="cs-button-arrow"
          src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/white-arrow-up.svg"
          decoding="async"
          alt="arrow"
          width="20"
          height="20"
          aria-hidden="true"
        />
      </a>
    </div>
    <!--To make your own background crops of people use https://www.remove.bg/-->
    <picture class="cs-picture">
      <source media="(max-width: 600px)" srcset="/assets/images/ceo-fr.png" />
      <source media="(min-width: 601px)" srcset="/assets/images/ceo-fr.png" />
      <img
        aria-hidden="true"
        decoding="async"
        src="/assets/images/ceo-fr.png"
        alt="construction worker"
        width="581"
        height="662"
      />
    </picture>
  </div>
  <div class="cs-image-group">
    <!--Left Image-->
    <picture class="cs-background cs-background1">
      <source
        media="(max-width: 600px)"
        srcset="
          https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/construction2.jpg
        "
      />
      <source
        media="(min-width: 601px)"
        srcset="
          https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/construction2.jpg
        "
      />
      <img
        aria-hidden="true"
        decoding="async"
        src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/construction2.jpg"
        alt="construction site"
        width="1290"
        height="684"
      />
    </picture>
    <!--Right Image-->
    <picture class="cs-background cs-background2">
      <source
        media="(max-width: 600px)"
        srcset="
          https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/construction1.jpg
        "
      />
      <source
        media="(min-width: 601px)"
        srcset="
          https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/construction1.jpg
        "
      />
      <img
        aria-hidden="true"
        decoding="async"
        src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/construction1.jpg"
        alt="construction site"
        width="630"
        height="684"
      />
    </picture>
  </div>
</section>

<!-- ============================================ -->
<!--                  Services                    -->
<!-- ============================================ -->

<section id="Hservices-2274">
  <div class="cs-container">
    <ul class="cs-card-group">
      <li class="cs-item">
        <a href="" class="cs-link">
          <img
            class="cs-icon"
            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/construction1.svg"
            decoding="async"
            alt="icon"
            width="40"
            height="40"
            aria-hidden="true"
          />
          <h3 class="cs-h3">Best House Renovation</h3>
          <p class="cs-item-text">
            Transform your home with trendy flooring and finishes!
          </p>
        </a>
      </li>
      <li class="cs-item">
        <a href="" class="cs-link">
          <img
            class="cs-icon"
            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/construction2.svg"
            decoding="async"
            alt="icon"
            width="40"
            height="40"
            aria-hidden="true"
          />
          <h3 class="cs-h3">Quality Always Matters</h3>
          <p class="cs-item-text">
            Quality renovations provide lasting beauty and functionality.
          </p>
        </a>
      </li>
      <li class="cs-item">
        <a href="" class="cs-link">
          <img
            class="cs-icon"
            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/construction3.svg"
            decoding="async"
            alt="icon"
            width="40"
            height="40"
            aria-hidden="true"
          />
          <h3 class="cs-h3">Effective Teamwork</h3>
          <p class="cs-item-text">
            Collaboration drives success through shared goals and communication.
          </p>
        </a>
      </li>
      <li class="cs-item">
        <a href="" class="cs-link">
          <img
            class="cs-icon"
            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/construction4.svg"
            decoding="async"
            alt="icon"
            width="40"
            height="40"
            aria-hidden="true"
          />
          <span class="cs-number">3K+</span>
          <h3 class="cs-h3">Happy Customers</h3>
          <p class="cs-item-text">
            With more than 7 years of expertise we served our clients.
          </p>
          <span class="cs-fake-link">
            Let's Work Together
            <img
              class="cs-arrow"
              src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/orange-arrow-up.svg"
              decoding="async"
              alt="arrow"
              width="20"
              height="20"
              aria-hidden="true"
            />
          </span>
          <picture class="cs-background">
            <source
              media="(max-width: 600px)"
              srcset="
                https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/construction3.jpg
              "
            />
            <source
              media="(min-width: 601px)"
              srcset="
                https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/construction3.jpg
              "
            />
            <img
              aria-hidden="true"
              decoding="async"
              src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/construction3.jpg"
              alt="construction site"
              width="630"
              height="684"
            />
          </picture>
        </a>
      </li>
    </ul>
  </div>
</section>

{% include 'components/cta.html' %} {% endblock %}
